<div class="cont_vaning">
    <div class="vaning-1">03 </div>
    <div class="rader">
        <div class="rad-1">
            <div class="namn_nummer-1">Mohammed Aboeisha, Abeer Hannoun</div>
            <div class="namn_nummer-1">1201</div>
        </div>
        <div class="hr_imellan">
            <div class="rad-1">
                <div class="namn_nummer-1">Janeth Blomberg</div>
                <div class="namn_nummer-1">1202</div>
            </div>
            <div class="hr_imellan">
            </div>
        </div>
        <div class="cont_vaning">
            <div class="vaning-1">02 </div>
            <div class="rader">
                <div class="rad-1">
                    <div class="namn_nummer-1">Saban Gudinci, Salija Gudinci</div>
                    <div class="namn_nummer-1">1101</div>
                </div>
                <div class="hr_imellan">
                    <div class="rad-1">
                        <div class="namn_nummer-1">Jihan Shaker</div>
                        <div class="namn_nummer-1">1102</div>
                    </div>
                    <div class="hr_imellan">
                    </div>
                </div>
                <div class="cont_vaning">
                    <div class="vaning-1">BV </div>
                    <div class="rader">
                        <div class="rad-1">
                            <div class="namn_nummer-1">Bo Nilsson</div>
                            <div class="namn_nummer-1">1001</div>
                        </div>
                        <div class="hr_imellan">
                            <div class="rad-1">
                                <div class="namn_nummer-1">Thao Hoang Thi</div>
                                <div class="namn_nummer-1">1002</div>
                            </div>
                            <div class="hr_imellan">
                            </div>
                        </div>