@charset "UTF-8";
@font-face {
  font-family: "century";
  src: url("../fonts/GOTHIC.TTF") format("truetype");
}

@font-face {
  font-family: "centuryb";
  src: url("../fonts/GOTHICB.TTF") format("truetype");
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body,
html {
  background: #fff;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 32px;
  /*base font-size för rem*/
}

/* Grid modellen */
.container {
  height: 1920px;
  width: 1080px;
  /* height: 960px;
  width:540px;
   */
  background: white;
  /* border: 30px solid white; */
  /* align-items: center; */
  /* justify-items: center; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  -ms-grid-rows: 10% auto 20% 15% 15% 10%;
      grid-template-rows: 10% auto 20% 15% 15% 10%;
      grid-template-areas: "header header" "aside1 section1" "aside1 main" "aside1 section2" "aside1 busstable" "footer footer";
}

.cardheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardheader img {
  margin-top: 0.5rem;
  height: 1;
  /* border:1px black solid; */
}

.cardtitle {
  /* border:1px black solid; */
  font-family: "centuryb", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  padding-top: 0.3rem;
  color: #575757;
}

.cardtitle-2 {
  /* font-family: "century", sans-serif; */
  font-size: 0.9rem;
  font-weight: 500;
  padding-top: 0.3rem;
  color: #575757;
}

.gatunamn-header {
  font-family: "century", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.welcome {
  font-family: "century", sans-serif;
  font-size: 1rem;
  padding-top: 0.5rem;
}

.adress {
  padding-top: 15px;
  padding-left: 15px;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: aside1;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: #7baa20;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#showtime {
  font-size: 2.5rem;
  padding: 0.3rem;
}

#showdate {
  font-size: 1rem;
  padding-left: 0.7rem;
  padding-top: 0.5rem;
}

.balk {
  width: 800px;
  height: 3px;
  background: white;
  /* margin-bottom: 5px; */
}

.adress h3 {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 300;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: main;
  background-color: #d3dcdf;
  padding: 0rem 1rem 1rem 1rem;
  color: #3f3f3f;
}

main p {
  margin-top: 0.2rem;
}

main h3,
h4 {
  margin: 3px 3px;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #4b96cf;
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: section1;
  background-color: #eaeaea;
  padding: 0rem 1rem 1rem 1rem;
  color: #555555;
}

#section1 img {
  padding-top: 1rem;
  width: 100%;
}

#busstable {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: busstable;
  background-color: #f5f5f5;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
}

.busstable {
  /* margin-top: 0.5rem; */
  font-size: 0.5rem;
  width: 100%;
  border-collapse: collapse;
  color: #555555;
  font-weight: 200;
  height: auto;
}

.busstable thead {
  font-weight: 100;
  text-align: left;
}

.busstable th {
  color: #4d4d4d;
  padding-bottom: 0.2rem;
  padding-top: 0.5rem;
}

.busstable tr {
  background: #ffffff;
  border-bottom: #dddddd solid 1px;
}

.busstable td {
  padding: 0.13rem;
  font-size: 0.5rem;
  vertical-align: top;
  color: coilor(text);
}

.text-center {
  text-align: center;
}

.linje_g {
  color: White;
  font-size: 17px;
  height: 20px;
  min-width: 40px;
  text-align: center;
  vertical-align: text-bottom;
  font-weight: 800;
  background-color: #7baa20;
  border-radius: 4px;
  margin: 1px;
  padding: 3px;
}

.linje_y {
  color: White;
  font-size: 15px;
  height: 20px;
  text-align: top;
  vertical-align: middle;
  font-weight: 600;
  background-color: #fec900;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
}

/* Polygon 1 */
/* .busstable tr:nth-child(even) {
  background: #c5c5c5;
} */
#section1 img {
  width: 100%;
}

.logotyp {
  padding-top: 20px;
  padding-right: 20px;
}

.wheather {
  /* padding-top: 1rem; */
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 1rem;
  text-align: right;
}

#section2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: section2;
  background-color: #c3ccbf;
  color: #1d4d08;
  padding: 0rem 1rem 1rem 1rem;
}

#section2 .cardtitle {
  color: #1d4d08;
}

/* Grid modellen slut *******************************************************/
.boendelista {
  width: 95vw;
  height: 98vh;
  padding-top: 0.2rem;
  color: #555555;
}

.cont_vaning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.hr_imellan {
  border-bottom: 2px solid #e9e9e9;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.rader {
  width: 98%;
}

.vaning-1 {
  font-size: 60px;
  font-weight: 500;
  color: rgba(145, 145, 145, 0.5);
  text-align: center;
  text-transform: uppercase;
  width: 220px;
}

.vaning-50 {
  font-size: 80px;
  font-weight: 600;
  color: rgba(145, 145, 145, 0.5);
  text-align: center;
  text-transform: uppercase;
  width: 220px;
  margin-bottom: 0.4rem;
}

.rad-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.25rem;
}

.rad-50 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.21rem;
}

.namn_nummer-1 {
  font-size: 0.7rem;
  color: #555555;
}

.namn_nummer-50 {
  font-size: 0.5rem;
  color: #555555;
}

.sidinfo p {
  font-size: xx-large;
  padding-right: 5rem;
}

p {
  font-size: 0.7rem;
}

hr {
  padding-right: 2rem;
}

.nummer {
  padding-right: 1rem;
}

/* Vector */
.container_resurser {
  height: 280px;
  width: 500px;
  background: #e1e2e1;
  padding: 10px;
  border-radius: 5px;
}

.container_resurser hr {
  margin: 0;
  border-top: 1px;
}

.container_resurser p {
  color: #555555;
  font-size: 16px;
  margin-top: 5px;
}

.container_resurser h2 {
  color: #555555;
  font-size: 30px;
  margin: 3px 3px;
}

.container_resurser h3 {
  color: #555555;
  font-size: 20px;
  margin-bottom: 3px;
}

.container_resurser img {
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 2px -1px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px -1px 2px 2px rgba(0, 0, 0, 0.1);
}

.container_resurser .roll {
  margin-left: 10px;
}

.container_resurser .roll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container_resurser .rollbild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  padding-right: 20px;
  vertical-align: middle;
}

.title_resurser {
  color: #555555;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.utitle_resurser {
  color: #555555;
  font-size: 0.7rem;
  font-weight: 600;
}

.title_resurser {
  color: #555555;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.utitle_resurser {
  color: #555555;
  font-size: 0.7rem;
  font-weight: 600;
}

.container_kollektivtrafik {
  height: 350px;
  width: 500px;
  background: white;
  padding: 10px;
  border-radius: 5px;
}
/*# sourceMappingURL=base.css.map */