@font-face {
  font-family: "century";
  src: url("../fonts/GOTHIC.TTF") format("truetype");
}
@font-face {
  font-family: "centuryb";
  src: url("../fonts/GOTHICB.TTF") format("truetype");
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

$colors: (
  bg: #fff,
  primary: #005dff,
  primary-light: lighten(#005dff, 40%),
  primary-dark: darken(#005dff, 40%),
  accent: #fff6bb,
  text: #555555,
  st_green: #43b02a,
  st_yellow: #fec900,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body,
html {
  background: color(bg);
  /* height: 100vh; */
  // width: 40vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 32px; /*base font-size för rem*/
}

/* Grid modellen */

.container {
  height: 1920px;
  width: 1080px;
  /* height: 960px;
  width:540px;
   */
  background: white;
  /* border: 30px solid white; */
  /* align-items: center; */
  /* justify-items: center; */

  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 10% auto 20% 15% 15% 10%;
  grid-template-areas:
    "header header"
    "aside1 section1"
    "aside1 main"
    "aside1 section2"
    "aside1 busstable"
    "footer footer";
}

.cardheader {
  display: flex;
  justify-content: space-between;

  img {
    margin-top: 0.5rem;
    height: 1;
    /* border:1px black solid; */
  }
}

.cardtitle {
  /* border:1px black solid; */
  font-family: "centuryb", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  padding-top: 0.3rem;
  color: #575757;
}

.cardtitle-2 {
  /* font-family: "century", sans-serif; */
  font-size: 0.9rem;
  font-weight: 500;
  padding-top: 0.3rem;
  color: #575757;
}

.gatunamn-header {
  font-family: "century", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.welcome {
  font-family: "century", sans-serif;
  font-size: 1rem;
  padding-top: 0.5rem;
}

.adress {
  padding-top: 15px;
  padding-left: 15px;
}

aside {
  grid-area: aside1;
}

header {
  grid-area: header;
  background-color: #7baa20;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#showtime {
  font-size: 2.5rem;
  padding: 0.3rem;
}
#showdate {
  font-size: 1rem;
  padding-left: 0.7rem;
  padding-top: 0.5rem;
}

.balk {
  width: 800px;
  height: 3px;
  background: white;
  /* margin-bottom: 5px; */
}

.adress h3 {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 300;
}

main {
  grid-area: main;
  background-color: #d3dcdf;
  padding: 0rem 1rem 1rem 1rem;
  color: rgb(63, 63, 63);
}

main p {
  margin-top: 0.2rem;
}

main h3,
h4 {
  margin: 3px 3px;
}

footer {
  grid-area: footer;
  background-color: #4b96cf;
  color: white;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

#section1 {
  grid-area: section1;
  background-color: #eaeaea;
  padding: 0rem 1rem 1rem 1rem;
  color: rgb(85, 85, 85);
}

#section1 img {
  padding-top: 1rem;
  width: 100%;
}

#busstable {
  grid-area: busstable;
  background-color: #f5f5f5;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
}

// =================Kollektivtrafiken======================
.busstable {
  /* margin-top: 0.5rem; */
  font-size: 0.5rem;
  width: 100%;
  border-collapse: collapse;

  thead {
    font-weight: 100;
    text-align: left;
  }
  th {
    color: #4d4d4d;
    padding-bottom: 0.2rem;
    padding-top: 0.5rem;
  }

  tr {
    background: #ffffff;
    border-bottom: #dddddd solid 1px;
    padding: 0.2rem 0.2rem;
  }

  td {
    padding: 0.13rem;
    font-size: 0.5rem;
    vertical-align: top;
  }
}

.text-center {
  text-align: center;
}

.linje_g {
  color: White;
  text-align: center;
  background-size: 100% 35px;
  background-repeat: no-repeat;
  background-position-y: center;
  vertical-align: text-bottom;
  font-weight: 600;

  // background-image: url("{{STATIC_URL}}img/green.jpg");
  background-image: url("../img/green.jpg");
  // background-image: url("{% static '../img/green.jpg' %}");
}

.linje_y {
  color: White;
  text-align: center;
  background-size: 100% 85%;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image: url("../img/yellow.jpg");
  // background-image: url("{% static '../img/yellow.jpg' %}");
}

/* Polygon 1 */

/* .busstable tr:nth-child(even) {
  background: #c5c5c5;
} */

#section1 img {
  width: 100%;
}

.logotyp {
  padding-top: 20px;
  padding-right: 20px;
}

.wheather {
  /* padding-top: 1rem; */

  align-self: center;
  padding-right: 1rem;
  text-align: right;
}

#section2 {
  grid-area: section2;
  background-color: #c3ccbf;
  color: #1d4d08;
  padding: 0rem 1rem 1rem 1rem;
}

#section2 .cardtitle {
  color: #1d4d08;
}

/* Grid modellen slut *******************************************************/

// Boendelista ---------------------------------------
// Hela conatiner för listan
.boendelista {
  width: 95vw;
  height: 98vh;
  // border: 1px solid rgb(190, 12, 12);
  // padding: 10px;
  padding-top: 0.2rem;
  color: color(text);
}
// Container som innehåller alla lgh för en våning
.cont_vaning {
  display: flex;
  // border-bottom: 2px solid rgb(233, 233, 233);
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  // border: 1px solid rgb(201, 100, 6);
}
.hr_imellan {
  // display: flex;
  border-bottom: 2px solid rgb(233, 233, 233);
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  // border: 1px solid rgb(201, 100, 6);
}

// Radcontainer
.rader {
  width: 98%;
}

// Själva våningsbeteckning
.vaning-1 {
  font-size: 60px;
  font-weight: 500;
  color: rgba(145, 145, 145, 0.5);
  text-align: center;
  text-transform: uppercase;
  width: 220px;
  // margin-bottom: 0.4rem;
}

.vaning-50 {
  font-size: 80px;
  font-weight: 600;
  color: rgba(145, 145, 145, 0.5);
  text-align: center;
  text-transform: uppercase;
  width: 220px;
  margin-bottom: 0.4rem;
}

.rad-1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25rem;
}

.rad-50 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.21rem;
}

.namn_nummer-1 {
  font-size: 0.7rem;
  color: color(text);
}

.namn_nummer-50 {
  font-size: 0.5rem;
  color: color(text);
}

// .vaning {
//   // flex-direction: column;
//   font-weight: 600;
//   /* font-size: 4.3rem; */
//   margin-bottom: 0.8rem;
//   text-transform: uppercase;
//   width: 220px;
// }

.sidinfo p {
  font-size: xx-large;
  padding-right: 5rem;
}

p {
  font-size: 0.7rem;
}

hr {
  padding-right: 2rem;
}

.nummer {
  // border: 1px solid green;
  padding-right: 1rem;
}

/* Vector */

.container_resurser {
  height: 280px;
  width: 500px;
  background: rgb(225, 226, 225);
  // border: 1px solid rgb(100, 100, 100);
  padding: 10px;
  border-radius: 5px;
  hr {
    margin: 0;
    border-top: 1px;
  }

  p {
    color: color(text);
    font-size: 16px;
    margin-top: 5px;
  }
  h2 {
    color: color(text);
    font-size: 30px;
    margin: 3px 3px;
  }
  h3 {
    color: color(text);
    font-size: 20px;
    margin-bottom: 3px;
  }
  img {
    border-radius: 50%;
    align-self: center;
    box-shadow: 2px -1px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .roll {
    margin-left: 10px;
  }

  .roll-container {
    display: flex;
    justify-content: space-between;
  }
  .rollbild {
    display: flex;
    justify-items: center;
    // width: 20%;
    padding-right: 20px;
    vertical-align: middle;
  }
}

.title_resurser {
  color: color(text);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.utitle_resurser {
  color: color(text);
  font-size: 0.7rem;
  font-weight: 600;
}

.title_resurser {
  color: color(text);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.utitle_resurser {
  color: color(text);
  font-size: 0.7rem;
  font-weight: 600;
}

.container_kollektivtrafik {
  height: 350px;
  width: 500px;
  background: rgb(255, 255, 255);
  // border: 1px solid rgb(100, 100, 100);
  padding: 10px;
  border-radius: 5px;
}
