{% extends "_base.html" %}
{% load static %}
{% block content%}

<div class="container">
        <div class="cardtitle">KONTAKTA OSS</div>
        {% for resurs in resurser %}

        {% if resurs.ResurstypSystemname == 'KV' %}
        <div class="cardtitle-2">Kundvärd</div>

        <p>{{resurs.ResursNamn}} <br>
            {{resurs.Telefonnummer}} <br>
            {{resurs.Epostadress}}
        </p>
        {% endif %}

        {% if resurs.ResurstypSystemname == 'FV' %}
        <div class="cardtitle-2">Fastighetsvärd</div>

        <p>{{resurs.ResursNamn}} <br>
            {{resurs.Telefonnummer}} <br>
            {{resurs.Epostadress}}
        </p>
        {% endif %}

        {% endfor %}
</div>

{% endblock content%}