{% extends "_base_simple.html" %}
{% load static %}
{% block content%}

<div class="container_resurser">

    <h2>KONTAKTA OSS</h2>
    {% for resurs in resurser %}
    {% if resurs.ResurstypSystemname == 'KV' %}
    <div class="roll">
        <div class="roll-container">
            <div class="roll-text">
                <h3>Din kundvärd</h3>
                <hr>
                <p>{{resurs.ResursNamn}} <br>
                    {{resurs.Telefonnummer}} <br>
                    {{resurs.Epostadress}}
                </p>
            </div>
            <div class="rollbild">
                <img src="/static/img/personalbilder/hanna_johansson_200.jpg" width="120px" height="110px"
                    alt="Hanna Johansson">
            </div>
        </div>

        {% endif %}
        {% if resurs.ResurstypSystemname == 'FV' %}
        <div class="roll-container">
            <div class="roll-text">
                <h3>Din fastighetsvärd</h3>
                <hr>
                <p>{{resurs.ResursNamn}} <br>
                    {{resurs.Telefonnummer}} <br>
                    {{resurs.Epostadress}}
                </p>
            </div>
            <div class="rollbild">
                <img src="/static/img/personalbilder/burim_abazaj_200.jpg" width="120px" height="110px"
                    alt="Burim Abazaij">
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content%}